@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <div class="row">

            <div class="col-sm">

                <div class="jumbotron bg-secondary">

                    <div class="container">

                        <div class="row">

                            <div class="col">

                                <div class="d-flex justify-content-center">

                                    <div class="p-2 bd-highlight">

                                        <form action="@Url.Action("Index")" method="post">

                                            <div class="form-group">

                                                <label for="email"><p class="text-white">Email de Usuario</p></label>

                                                <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp">

                                            </div>

                                            <div class="form-group">

                                                <label for="senha"><p class="text-white">Senha</p></label>

                                                <input type="text" class="form-control" name="senha" id="senha">

                                            </div>

                                            <small id="formHelp" class="form-text text-muted"><p class="text-white">Nunca compartilhe o seu E-mail ou Senha com outras pessoas.</p></small>

                                            <button type="submit" class="btn btn-dark">Autenticar</button>

                                        </form>

                                        <hr class="my-4">

                                    </div>

                                </div>

                            </div>

                        </div>

                     </div>

                </div>

            </div>

        </div>

    </div>

    